<ul class="nav justify-content-center navbar-dark bg-dark">
  <li class="nav-item">
    <button type="button" class="btn btn-link" (click)="pickAlgorithm('merge')">
      Merge Sort
    </button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-link" (click)="pickAlgorithm('heap')">
      Heap Sort
    </button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-link" (click)="pickAlgorithm('quick')">
      Quick Sort
    </button>
  </li>
  <li class="nav-item">
    <button
      type="button"
      class="btn btn-link"
      (click)="pickAlgorithm('bubble')"
    >
      Bubble Sort
    </button>
  </li>
  <li class="nav-item ml-auto">
    <button
      type="button"
      class="btn btn-link"
      (click)="randomizeBars()"
    >
      Randomize Bars
    </button>
  </li>
</ul>
