.array-container {
  margin: 0 20%;
  margin-top: 8%;
}

.bars {
  width: 4px;
  display: inline-block;
  margin: 0 2px;
  background-color: #0080ff;
}

.label {
    font-size: 20px;
    font-weight: 400;
    margin-top: 4%;
}